[user]
	email = scott.bale@nubank.com.br
	name = Scott Bale
[alias]
    co = checkout
    up = checkout
    st = status
    lg   = log --date=short                                --pretty=format:"%x1b[31m%h%x1b[0m%x20%ad%x1b[33m%x20%an%Cgreen%d%Creset%x1b[0m%x20%s"
    glog = log --graph --full-history --date=short --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%ad%x09%an%x09%s"
    wzup = ls-files --ignored --others --exclude-standard --directory
    nuke = clean -d -x --force --quiet
    wut = diff --name-only
[core]
	editor = mg
[diff]
  renameLimit = 6194
[rebase]
  instructionFormat = "%h%x20%ad%x20%an%x20%s"
[pull]
	ff = only
[filter "lfs"]
	smudge = git-lfs smudge --skip %f
	process = git-lfs filter-process --skip
	clean = git-lfs clean -- %f
	required = True
[url "git@github.com:"]
	insteadOf = https://github.com/
