/*
!.*
.bash_history
.bash_logout
.ido.last
.lesshst
.nurc
.okta*
.sshagent
.viminfo
.zsh_history
.zshrc
.CFUserTextEncoding
.DS_Store
.ansible/
.aws/
.bash_sessions/
.clojure/
.config/
.cups/
.docker/
.dropbox/
.emacs.d/
.lein/
.m2/
.node*/
.npm/
.nvm/
.pyenv/
.ssh/
