/*
!.*
.bash_history
.bash_logout
.cache
.dropbox
.dropbox-dist
.gnupg
.hgrc
.k5login
.lesshst
.npmrc
.recentf
.ssh/
.ido.last
.lein# On branch ubuntu-server
.Xauthority
.cabal/
.gem/
.ghc/
.lein/self-installs
.m2/
.node-gyp/
.npm/
.rpmdb/

