/*
!.*
.bash_history
.bash_logout
.ido.last
.lesshst
.localized
.nurc
.okta*
.sshagent
.viminfo
.zsh_history
.zshrc
.CFUserTextEncoding
.Trash/
.DS_Store
.ansible/
.aws/
.bash_sessions/
.clojure/
.config/
.cups/
.docker/
.dropbox/
.emacs.d/
.gnupg/
.gnupg_pre_2.1/
.gradle/
.jenv/
.lein/
.m2/
.node*/
.npm/
.nvm/
.pyenv/
.ssh/
.sbt/
.zsh_sessions/
